body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.navbar {
    background-color: #007bff; /* Blue bar */
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}
.navbar a:hover {
    background-color: #0056b3; /* Slightly darker blue on hover */
    border-radius: 5px;
}
.navbar .right {
    display: flex;
    gap: 10px;
}

.flash-message {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}
.flash-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.flash-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.flash-warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

h1, h2 {
    color: #333;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

table th {
    background-color: #007BFF;
    color: white;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

input, button {
    margin: 0 10px;
    padding: 8px;
    font-size: 14px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form {
    width: 30%;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: fit-content;
    text-align: center;
    padding: 10px 15px;
    margin: 0 auto;
    display: block;
}

form button:hover {
    background-color: #0056b3;
}

.purchase-btn-adjust {
    position: relative;
    left: -30px;
}

#spendingChart {
    width: 300px;
    height: 100px;
}

.section-header {
    margin: 20px 0;
    color: #007bff;
}

.staff-buttons {
    margin-top: 10px;
    text-align: center;
}

.staff-buttons .btn {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}